name: docker
on:
  workflow_dispatch:
  push:
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: docker/setup-qemu-action@v1
      - uses: docker/setup-buildx-action@v1

      - id: docker_meta
        uses: crazy-max/ghaction-docker-meta@v3
        with:
          github-token: ${{ github.token }}
          images: ghcr.io/${{ github.repository }}

      - uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache

          # Tags and the default branch use a prefix of ${{ runner.os }}-buildx-dev-false-
          # Dev branches use a prefix of ${{ runner.os }}-buildx-dev-true-
          key: ${{ runner.os }}-buildx-dev-${{ ! (startsWith(github.ref, 'refs/tags/') || github.ref == format('refs/heads/{0}', github.event.repository.default_branch)) }}-${{ github.sha }}-${{ github.run_id }}

          # Only restore caches on dev branches
          # The repository cache source contains cached layers from the default branch
          # Essentially gives each branch / PR a shared docker context
          restore-keys: |
            ${{ runner.os }}-buildx-dev-true-

      - uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}
      
      - uses: docker/build-push-action@v2
        with:
          pull: true
          push: ${{ startsWith(github.ref, 'refs/tags/') || github.ref == format('refs/heads/{0}', github.event.repository.default_branch) }}
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
          cache-from: |
            type=registry,ref=ghcr.io/${{ github.repository }}:cache
            type=local,src=/tmp/.buildx-cache
          cache-to: mode=max,type=local,dest=/tmp/.buildx-cache

      - name: push cache image
        uses: docker/build-push-action@v2
        with:
          pull: false
          push: ${{ startsWith(github.ref, 'refs/tags/') || github.ref == format('refs/heads/{0}', github.event.repository.default_branch) || github.ref == 'refs/heads/cache' }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=inline
          tags: ghcr.io/${{ github.repository }}:cache